extends layouts/default/layout

block content
	div.gamelist.col-12
		h2 Klubbens spill
		table.table.table-striped.table-hover.table-responsive
			thead
				tr
					th
						//- Empty on purpose
					th Tittel
					th Spillere
					th Spilletid
					th Mekanikker
				//- Hide the next row by default. JS will make it visible. It will stay invisible if the JS doesn't work
				tr.search-controls.d-none
					th
						//- Empty on purpose
					th
						input.form-control(type="text")
					th
						input.form-control(type="number" min="1")
					th.input-group
						input.form-control(type="number")
						div.input-group-append
							span.input-group-text ±30
					th
						input.form-control(type="text")

			tbody
				each game in gamelist.games
					- const players = game.minPlayers === game.maxPlayers ? game.minPlayers : game.minPlayers + " - " + game.maxPlayers;
					tr(
						data-title=game.title.toLowerCase()
						data-min-players=game.minPlayers
						data-max-players=game.maxPlayers
						data-playing-time=game.playingTime
						data-mechanics=JSON.stringify(game.mechanics.map(({ name }) => name.toLowerCase()))
					)
						td
							a(href=game.bggUrl)
								img.img-fluid.img-thumbnail(src=game.thumbnailUrl alt=game.title)
						td
							a(href=game.bggUrl)
								=game.title
						td= players
						td= game.playingTime
						td
							ul.list-unstyled
								each mechanic in game.mechanics
									li= mechanic.name
		div.bgg-aknowledgement
			img.d-inline(src="https://cf.geekdo-static.com/images/geekdo/bgg_cornerlogo.png" alt="BoardGameGeek")
			p.d-inline Data hentet fra #[a(href="https://boardgamegeek.com") BoardGameGeek]
		script.
			(() => {
				"use strict";
				// Get the search control row and show it
				const searchControls = document.querySelector(".gamelist .search-controls");
				searchControls.classList.remove("d-none");

				// Get and set up the inputs
				const inputs = Array.from(searchControls.querySelectorAll("input"));
				inputs.forEach(input => input.addEventListener("input", search));
				const [titleInput, playersInput, playingTimeInput, mechanicsInput] = inputs;

				// Gets the rows of games
				function getRows() {
					return Array.from(document.querySelectorAll(".gamelist tbody tr"));
				}

				// Searches the table, hiding non-matching rows and displaying matching rows
				function search() {
					// Get the data rows
					const rows = getRows();

					// Get the data with correct types
					const titleStr = titleInput.value.toLowerCase();
					const playersNum = Number.parseInt(playersInput.value);
					const playingTimeNum = Number.parseInt(playingTimeInput.value);
					const mechanicsStr = mechanicsInput.value.toLowerCase();
					const matches = rows
						.map(row => (
							row.dataset.title.includes(titleStr) &&
							(Number.isNaN(playersNum) || Number.parseInt(row.dataset.minPlayers) <= playersNum) &&
							(Number.isNaN(playersNum) || Number.parseInt(row.dataset.maxPlayers) >= playersNum) &&
							(Number.isNaN(playingTimeNum) || Math.abs(playingTimeNum - row.dataset.playingTime) <= 30) &&
							JSON.parse(row.dataset.mechanics).reduce((matches, mechanic) => matches || mechanic.includes(mechanicsStr), false)
						));

					// Show matching rows and hide non-matching ones
					rows.forEach((row, i) => {
						if (matches[i]) {
							row.classList.remove("d-none");
						} else {
							row.classList.add("d-none");
						}
					});
				}

				// Do an initial search
				search();
			})();
